<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>大麦商城</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/axios.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/comp.js"></script>

</head>
<body>

	<div class="container header">

		<div class="span5">
			<div class="logo">
				<a href="index.html"> <img
					src="image/r___________renleipic_01/logo.png" alt="依依不舍" />
				</a>
			</div>
		</div>
		<div class="span9">
			<div class="headerAd">
				<img src="image/header.jpg" width="320" height="50" alt="正品保障"
					title="正品保障" />
			</div>
		</div>
		<div class="span10 last">
			<div class="topNav clearfix">
				<ul>
					<li id="headerLogin" class="headerLogin"
						style="display: list-item;"><a href="login.html">登录</a>|</li>
					<li id="headerRegister" class="headerRegister"
						style="display: list-item;"><a href="reg.html">注册</a>|</li>
					<li id="headerUsername" class="headerUsername"></li>
					<li id="headerLogout" class="headerLogout"><a>[退出]</a>|</li>
						<li><a  href="personal.html">会员中心</a> |</li>
					<li><a  href="help.html">购物指南</a> |</li>
					<li><a  href="aboutus.html">关于我们</a></li>
				</ul>
			</div>
			<div class="cart">
				<a href="cart.html">购物车</a>
			</div>
			<div class="phone">
				客服热线: <strong>96008/53277764</strong>
			</div>
		</div>

		<div class="span24">
			<ul class="mainNav">
				<li><a href="index.html">首页</a> |</li>

				<li><a href="clist.html?1&pageIndex=1"> 女装男装 </a> |</li>

				<li><a href="clist.html?2&pageIndex=1"> 鞋靴箱包 </a> |</li>

				<li><a href="clist.html?3&pageIndex=1"> 运动户外 </a> |</li>

				<li><a href="clist.html?4&pageIndex=1"> 珠宝配饰 </a> |</li>

				<li><a href="clist.html?5&pageIndex=1"> 手机数码 </a> |</li>

				<li><a href="clist.html?6&pageIndex=1"> 家电办公 </a> |</li>

				<li><a href="clist.html?7&pageIndex=1"> 护肤彩妆 </a> |</li>

			</ul>
		</div>
	</div>



	<div id="lg" class="container login">
		<div class="span12">
			<div class="ad">
				<img src="image/login.jpg" width="500" height="330" alt="会员登录"
					title="会员登录">
			</div>
		</div>
		<div class="span12 last">
			<div class="wrap">
				<div class="main">
					<div class="title">
						<strong>登录</strong>LOGIN
					</div>
					<div class="title" align="center">				
					<strong>用户登录：</strong><input  type="radio"  name="login"  value="1"  checked @click="type=1">	
					<strong>管理员登录：</strong><input  type="radio"  name="login"  value="0" @click="type=0">
					</div>
					<form id="loginForm" action="login.html" method="post"  v-show="type==1"
						novalidate="novalidate">
						<table>
							<tbody>
								<tr>
									<th>用户名:</th>
									<td><input type="text"  v-model="cname" id="username" name="username"
										class="text" maxlength="20" /><span></span></td>
								</tr>
								<tr>
									<th>密&nbsp;&nbsp;码:</th>
									<td><input type="password"  v-model="pwd"  id="password" name="password"
										class="text" maxlength="20" autocomplete="off" /><span></span>
									</td>
								</tr>
								<tr>
									<th>验证码:</th>
									<td><span class="fieldSet"> <input type="text"
											id="captcha" name="captcha" class="text captcha"
											maxlength="4" autocomplete="off"   v-model="scode" > <img
											id="captchaImage" style="height: 25px" class="captchaImage"
											src="../vcode.do"
											onclick="this.src='../vcode.do?a='+ new Date()"
											title="点击更换验证码">
									</span></td>
								</tr>
								<tr>
									<th>&nbsp;</th>
									<td><label> <input type="checkbox"
											id="isRememberUsername" name="isRememberUsername"
											value="true">记住用户名
									</label> <label> &nbsp;&nbsp;<a  href="reset.html">找回密码</a>
									</label></td>
								</tr>
								<tr>
									<th>&nbsp;</th>
									<td><input type=" button" class="submit" value="登 录" @click="login">
									</td>
								</tr>
								<tr class="register">
									<th>&nbsp;</th>
									<td>
										<dl>
											<dt>还没有注册账号？</dt>
											<dd>
												立即注册即可体验在线购物！ <a href="  reg.html">立即注册</a>
											</dd>
										</dl>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<form id="form" action="xxx" method="post" align="center"  v-show="type==0">
						    <div>
						        账号：<input type="text"  v-model="name" name="username" id="username"  placeholder="账号"><br>
						        密码：<input type="password"  v-model="pwd1" name="password" id="password" placeholder="密码"><br>
						        <input type="checkbox" v-model="rem" name="checkbox" value="1" checked="checked" /> 记住密码
						        &nbsp;<br>
						         <input type=" button" class="submit" value="登 录" @click="login2">
						    </div>
					</form>
				</div>

			</div>
		</div>
	</div>


	<script type="text/javascript">
	
	
	
	var vue1=new Vue({
		el: "#lg",
		data:{
			cname:"",
			pwd:"",
			scode:"",
			type:1,
			name:"",
			pwd1:"",
			rem:"1",
		},	
		created: function(){

				  var str = decodeURIComponent(document.cookie.split(';')); // 获取Cookie					
					  if (str.indexOf("loginInfo")>-1) {
				            var arr = str.split("=");
				            var loginInfo = arr[1];
				            var arr = loginInfo.split("+");
				            var name = arr[0];
				         //   name = name.substring(name.lastIndexOf("=", name.length - 1) + 1);
				            var pwd1 = arr[1];
							this.name=name;
							this.pwd1=pwd1;
				        }
			},
		methods : {
				login(){		
				var params = new URLSearchParams();	
				params.append('cname', this.cname);
				params.append('pwd', this.pwd);
				params.append('scode', this.scode);
				params.append('op', 'login');
				axios.post('../user.do', params).then( res =>{
					alert(res.data);
					if(res.data == '登录成功'){
						// 跳转到首页
						location.href = "index.html";
					}
				});
			},
			login2(){		
				var params = new URLSearchParams();	
				params.append('name', this.name);
				params.append('pwd', this.pwd1);
				params.append('rem', this.rem);
				params.append('op', 'login');
				axios.post('../admin.do', params).then( res =>{	
					if(res.data== '登录成功'){
						// 跳转到首页
					location.href = "管理后台/manage.html";		
					}
				});
				
				
			}
		}
	})

	</script>

<div id="footer">
		<page-foot></page-foot>
	</div>
	<script type="text/javascript">
		new Vue({el:"#footer"});
	</script>
</body>
</html>